/* Container */
.containerSlide {
	position: relative;
	padding: 0 0 20px 150px;
	margin: 0 auto;
	width: 1000px;
	height: 625px;
}
/* Evelson */
#evelson {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 50;
}

/* Slider */
.slider {
	position: relative;
	width: inherit;
	height: inherit;
	overflow: hidden;
}
.slider ul {
	width: 10000px;
	list-style: none;
}
.slider li {
	float: left;
	position: relative;
}
/*Circles*/
.pagination {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.pagination ul {
	list-style: none;
	text-align: center;
}
.pagination li {
	display: inline-block;
	vertical-align: bottom;
	zoom: 1;
	*display: inline;
}
.pagination a {
	display: block;
	width: 13px;
	height: 13px;
	text-indent: -9999em;
	background: url(../images/pagination.png) no-repeat 0 0;
}
.pagination a.selected {
	background: url(../images/pagination.png) no-repeat 0 -26px !important;
}
.pagination a:hover {
	background: url(../images/pagination.png) no-repeat 0 -13px;
}
.pagination a:focus {
	outline: none;
}
/* No JS */
.pagination { display: none;}
