* {
	margin: 0;
	padding: 0;
}
body {
	background: url(../images/bg2.gif);
}
/* Шрифты */
h1, 
h2, 
blockquote p {
	font-family: Georgia, Times, "Times New Roman", serif;
}
#nav, 
.footer, 
.signature, 
#abit, 
#contact, 
#ref, 
#timeMachine a, 
dl#events, 
#avatars, 
.info, 
.tech {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
}
/* Заголовки */
.header {
	margin-top: 20px;
}
h1, 
h2 {
	font-size: 3em;
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px dashed black;
	border-top: 10px solid black;
	margin: 0;
	padding: 0.5em 0;
}
h2 {
	font-size: 2em;
}
/* Навигация */
#nav {
	text-align: right;
	font-size: 1.3em;
}
#nav a, 
#nav a:visited {
	color: #999;
	text-decoration: none;
	font-weight: bold;
}
#nav a:hover {
	color: #666;
}
#nav li, 
#social li, 
#avatars li {
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	margin: 1em;
}
/* Подвал */
.footer {
	font-size: 1em;
	line-height: 1.5em;
	color: #888;
	padding: 0.5em 0;
	border-top: 2px solid black;
}
.footer img {
	height: 13px;
	vertical-align: bottom;
}
/* Выделение */
::selection {
	color: #90c;
	background: #cf0;
}
/* Цитаты */
blockquote {
	color: #555;
	margin: 1.5em 2em 0 1.5em;
}
blockquote p {
	font-size: 1.5em;
	line-height: normal;
	font-style: italic;
	margin: 0 0 0.5em 0;
	text-indent: 1.5em;
}
/* Подписи */
.signature {
	font-size: 1.3em;
	line-height: 1.5em;
}
/* Кнопки социальных сетей */
#social {
	text-align: center;
	margin-top: 5em;
}
/* Информация для абитуриентов */
#abit {
	font-size: 1.4em;
	line-height: 2em;
	padding: 1em 0 0 0;
}
#abit ul {
	list-style: circle;
	margin-left: 2em;
	color: #333;
}
/* Контактная информация */
#contact {
	font-size: 1.4em;
	line-height: 2em;
	padding: 1em 0 0 0;
}
#contact dt {
	font-weight: bold;
}
#contact dd {
	margin-left: 3em;
}
#contact address {
	font-style: normal;
}
#contact em {
	font-size: 0.8em;
}
/* Ресурсы */
#ref {
	font-size: 1.4em;
	line-height: 2em;
	padding: 1em 0 0 1em;
	text-indent: -1em;
}
#ref li:before {
	content: "\00BB \0020";
}
/* Машина Времени */
#timeMachine {
	position: fixed;
	left: 0;
	top: 50%;
	margin-top: -257px;
}
#timeMachine a {
	font-size: 1.2em;
	line-height: 3em;
}
#timeMachine a.active {
	font-weight: bold;
}
/* События истории */
dl#events {
	margin-left: 6em;
	font-size: 1.4em;
	line-height: 2em;
}
dl#events dt {
	width: 4em;
	float: left;
	clear: left;
	margin: 0 0 1em -4em;
	font-weight: bold;
	font-size: 1.5em;
	border-top: 3px solid #000;
	padding: .2em 0 0 0;
}
dl#events dd {
	float: left;
	width: 100%;
	padding: .2em 0 0 0;
	margin: 0 0 1em 0;
	color: #000;
}
dl#events dt+dd {
	border-top: 3px solid #000;
}
dl#events table td {
	vertical-align: middle;
}
dl#events .signature {
	font-size: 0.9em;
	line-height: 1.5em;
}
dl#events blockquote p {
	font-size: 1.1em;
	line-height: 1.5em;
}
.trigger {
	text-decoration: none;
	border-bottom: 1px dashed #00f;
}
/* Вкладки с преподавателями */
#avatars {
	text-align: center;
	font-size: 1.1em;
}
#avatars li {
	padding-top: 50px;
	cursor: pointer;
}
#avatars a, #avatars a:visited {
	text-decoration: none;
	color: #000;
}
.current {
	opacity: 1;
}
.others {
	opacity: 0.3;
}
.others:hover {
	opacity: 0.7;
}
/* Информация о преподавателях */
.info {
	font-size: 1.4em;
	line-height: 2em;
}
.info dt {
	font-weight: bold;
}
.info dd {
	margin-left: 1em;
}
/* Техника */
.tech {
	font-size: 1.4em;
	line-height: 2em;
}
.tech tr td:first-child {
	font-weight: bold;
}